<div class='flex justify-center items-center h-screen'>
  <div
    class='w-96 p-6 shadow-lg bg-gradient-to-r from-green-800 via-green-600 to-lime-600 rounded-md'
  >
    <h1 class='text-3xl block text-center font-semibold text-lime-400'><i
        class='fa-solid fa-user'
      ></i>
      Login</h1>
    <hr class='mt-3' />
    <!-- Username -->
    <div class='mt-3'>
      <label
        for='username'
        class='block text-base mb-2 text-lime-400'
      >Username/Email</label>
      <input
        type='text'
        id='user-login'
        class='border rounded-md w-full text-base px-2 py-1 focus:outline-none focus:ring-0 focus:border-lime-600'
        placeholder='Enter your Username or email'
      />
    </div>
    <!-- Password -->
    <div class='mt-3'>
      <label
        for='password'
        class='block text-base mb-2 text-lime-400'
      >Password</label>
      <input
        type='password'
        id='password-login'
        class='border rounded-md w-full text-base px-2 py-1 focus:outline-none focus:ring-0 focus:border-lime-600'
        placeholder='Enter Password...'
      />
    </div>
    <div class='mt-3 flex justify-between items-center'>
      <div>
        <input type='checkbox' />
        <label class='text-yellow-400'>Remember Me</label>
      </div>

      <div>
        <a href='#' class='text- text-yellow-400 font-semibold'>Forgot Password?</a>
      </div>
    </div>
    <!-- Login Button -->
    <div id='login-form' class='mt-5'>
      <button
        type='submit'
        class='border-2 border-lime-400 bg-lime-400 text-white py-1 w-full rounded-md hover:bg-transparent hover:text-lime-400 font-semibold'
      ><i class='fa-solid fa-right-to-bracket'></i>&nbsp;&nbsp;Login</button>
    </div>
    <div class='text-xs text-yellow-400 my-2'>Don't have a account?
      <a href='/signup' class='text-yellow-400'>Sign up</a></div>
  </div>
</div>
<script src='js/login.js'></script>